<div class="article-list-outer-container">
  <h1>
    文章列表<ng-container *ngIf="_loading">{{ "（正在加载）" }}</ng-container>
  </h1>

  <div
    class="article-list-container"
    appScrollHelper
    (onScrollBottom)="_handleScrollBottom($event)"
  >
    <ul class="article-list">
      <ng-container *ngFor="let page of _pages">
        <li *ngFor="let article of page">
          <app-article [article]="article"></app-article>
        </li>
      </ng-container>
    </ul>
    <ng-container *ngIf="_loading">
      <!-- <div>{{ '加载中' }}</div> -->
    </ng-container>
  </div>
</div>
