@use '../../../../../base';

$header-height: 70px;
$menu-column-gap: 16px;

header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: base.$base02;
  }
}

@media (prefers-color-scheme: light) {
  header {
    background-color: base.$base2;
  }
}


.menu {
  display: flex;
  column-gap: $menu-column-gap;
}
