.anchor {
  text-decoration: none;
  color: inherit;
}

.heading-2 {
  margin: 0;
}

.article-excerpt {
  margin-bottom: 20px;
  color: #000000AD;
}

.article-excerpt:hover {
  background: rgb(203, 210, 216);
}
