.comments-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-section {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}

.overlay {
  position: fixed;
  top: 0px;
  height: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 36%);
}

.dialog {
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);

  padding: 24px;
  box-sizing: border-box;
  color: #000000AD;
}

.heading-1 {
  color: inherit;
}

.overlay-button-section {
  display: flex;
  column-gap: 14px;
}

.highlight-button {
  background-color: rgba(0, 0, 0, 0.08);
}

.overlay-input {
  resize: none;
  border-radius: 0px;
  border-style: solid;
  outline: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-color: #0000006e;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

.overlay-input-section {
  margin-bottom: 16px;
}
