<div @overlayEnterExit class="overlay" *ngIf="isOverlayDisplay" (click)="handleCancel()">
  <div (click)="$event.stopPropagation()">
    <div class="dialog">
      <div class="header">
        <h1 class="heading-1">Hi~ 今天想说什么？</h1>
      </div>
      <div class="overlay-input-section">
        <form [formGroup]="saysInputForm">
          <app-text-area formControlName="content"></app-text-area>
        </form>
      </div>
      <div class="overlay-button-section">
        <button
          mat-button
          (click)="handleCancel()"
        >取消</button>
        <button
          mat-button
          class="highlight-button"
          (click)="handleOk()"
        >确定</button>
      </div>
    </div>
  </div>
</div>

<app-layout>
  <div class="comments-page-container">
    <div class="button-section">
      <button
        mat-raised-button
        (click)="handleOpenOverlay()"
      >创建</button>
    </div>

    <div class="says-container">
      <app-say-card *ngFor="let say of says" [say]="say"></app-say-card>
    </div>
  </div>
</app-layout>
