<div class="login-page-container">
  <div><button class="button" (click)="goBack()">返回</button></div>
  <div class="login-form-container">
    <div>
      <h1>登录</h1>
      <form [formGroup]="loginForm">
        <div class="form-item">
          <input
            placeholder="用户名"
            class="input"
            [formControlName]="'email'"
            type="email"
          />
        </div>
        <div class="form-item">
          <input
            placeholder="密码"
            class="input"
            [formControlName]="'password'"
            type="password"
          />
        </div>
        <div>
          <button class="button" [disabled]="loginForm.invalid" (click)="login()">登录</button>
        </div>
      </form>
    </div>
  </div>
</div>
