<div class="login-page-container">
  <div><button class="button" (click)="goBack()">返回</button></div>
  <div class="login-form-container">
    <div>
      <h1 class="heading-1">登录</h1>
      <form [formGroup]="loginForm">
        <div class="form-item">
          <input
            placeholder="用户名"
            class="input"
            [formControlName]="'email'"
            type="email"
          />
        </div>
        <div class="form-item">
          <input
            placeholder="密码"
            class="input"
            [formControlName]="'password'"
            type="password"
          />
        </div>
        <div>
          <button class="button" [disabled]="loginForm.invalid || isWaiting" (click)="login()">
            <mat-spinner *ngIf="isWaiting" appSpinner class="spinner" [diameter]="16"></mat-spinner>
            <span>{{ isWaiting ? '正在登录' : '确定' }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
