.form-item {
  margin-bottom: 24px;
}

.input {
  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: slategray;
  outline: none;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
}

.login-page-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(min-content, auto) 1fr;
  overflow: hidden;

  box-sizing: border-box;
  height: 100%;

  font-size: 16px;
  color: #495057;
  background-color: #F8F9FA;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

}

.button {
  border-radius: 0px;
  border-color: rgba(196, 204, 211, 0.747);
  background-color: unset;
  box-shadow: none;
  border-style: solid;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.heading-1 {
  font-size: 32px;
  font-family: inherit;
  margin-bottom: 1em;
  color: inherit;
}

.spinner {
  display: inline-block;
  margin-right: 8px;
}
