.card-with-max-width {
  max-width: 480px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.column-gap-8px {
  column-gap: 8px;
}

.align-center {
  align-items: center;
}

.card-title {
  margin-bottom: 14px;
}

.card-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
