<mat-card class="card-with-max-width">
  <div class="card-first-row">
    <mat-card-title class="card-title">张三</mat-card-title>


    <button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  matTooltip="更多"
><mat-icon>more_vert</mat-icon></button>

<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
  <button (click)="handleOpenDetail()" mat-menu-item>查看详情</button>
</mat-menu>


  </div>

  <mat-card-subtitle class="flex-row column-gap-8px align-center">
      <span>发表于</span>
      <span>2021-01-02 13:04:05</span>
  </mat-card-subtitle>
  <mat-card-content>
      <div>
          <a mat-button href="https://www.google.com/">To 李四:</a><span></span>
      </div>
      <div>
          出去走一走。
      </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>确认</button>
      <button mat-button>忽略</button>
  </mat-card-actions>
</mat-card>
