.content-area {
  padding: 16px;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
}

.drawer-content {
  height: 100%;
}

.drawer-container {
  height: 100%;
}

.sider {
  width: 200px;
  border: none;
}

.title {
  padding-left: 16px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.has-subentry {
  display: flex;
  justify-content: space-between;
}

.layout-container {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(min-content, auto) 1fr;
}

.header-toolbar {
  background: #FFF;
  color: #000000ad;
  padding: 0px;
}

.header-toolbar-inner-container {
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px 1px;
  z-index: 2;
}
