<div class="layout-container">
  <mat-toolbar color="primary" class="header-toolbar">

    <div class="header-toolbar-inner-container">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header">
        <div>
          <span class="title">{{ siteMetaData.siteTitle }}</span>
        </div>
        <button mat-button (click)="loginState ? logOut() : login()">{{ loginState ? '登出' : '登录' }}</button>
      </div>
    </div>

  </mat-toolbar>

  <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
    <mat-drawer class="sider" #drawer [mode]="'side'" [opened]="true">
      <mat-nav-list>
        <!-- <a *ngFor="let menuItem of menuData" class="nav-item" mat-list-item [routerLink]="'/'+menuItem.path">{{ menuItem.name }}</a> -->
        <app-nav-tree [menuData]="menuData"></app-nav-tree>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="drawer-content">
      <div class="content-area">
        <ng-content></ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
