<mat-toolbar color="primary">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="header">
    <div>
      <span class="title">Tour of Heroes</span>
    </div>
    <button mat-button>登录</button>
  </div>
</mat-toolbar>

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="true">
    <mat-nav-list>
      <!-- <a class="nav-item" mat-list-item href="hero">英雄</a> -->
      <!-- <a class="nav-item" mat-list-item href="comment">评论</a> -->
      <!-- <a class="nav-item" mat-list-item href="comment">友链</a> -->
      <a *ngFor="let menuItem of menuData" class="nav-item" mat-list-item [routerLink]="menuItem.path">{{ menuItem.name }}</a>
   </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <div class="content-area">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
